/**
 * Shared
 */


.root * {
    background: #DFE2E4;
    toolbar: #D4D2D5;
    lines: #ceced2;
    mainText: derive(black, 5%);
    subText: derive(black, 50%);
    highlight: derive(#3081F4, 15%);
    select: #007aff;
    -fx-font-family: "Helvetica";
    -fx-background-color: transparent;
    -fx-text-fill: mainText;
}

#id, #tags, #tags .label{
    -fx-text-fill: subText;
}

/**
 * Menu Bar
 */

#menuBar *, #menuBar {
    -fx-background-color: toolbar;
    -fx-text-fill: subText;
}



/**
 * Command Box
 */

#commandBoxPlaceholder {
    -fx-border-color: lines;
}

#commandTextField {
    -fx-font-size: 20pt;
    -fx-accent: highlight;
}

#details {
    -fx-background-color: background;
}
/**
 * Result Display
 */

#resultDisplayPlaceholder {
    -fx-font-size: 13pt;
    -fx-border-color: lines;
}

#resultDisplay {
    -fx-text-fill: subText;
}

/**
 * Person List
 */
#personListVBox {
    -fx-border-color: lines;
}

#personListVBox {
    -fx-font-size: 15pt;
}

#personListVBox #tags {
    -fx-font-size: 13pt;
}

#personList .scroll-bar {
    -fx-border-color: transparent transparent transparent lines;
    -fx-start-margin: 0;
    -fx-end-margin: 0;

}

#personListVBox .scroll-bar:vertical .thumb {
    -fx-background-color: lines;
    -fx-scale-x: 0.5;
}

#personListVBox .scroll-bar:horizontal *{
    -fx-padding: 0;
    -fx-scale-y: 0;
}

.list-cell:filled:hover {
    -fx-background-color: highlight;
}

.list-cell:filled:selected {
    -fx-background-color: select;
}

.list-cell:filled:hover .label, .list-cell:filled:selected .label{
    -fx-text-fill: white !important;
}

/**
 * Person Panel
 */
#personPanel {
    -fx-font-size: 15pt;
    -fx-border-color: lines;
}

#personPanel #name {
    -fx-font-size: 30pt;
}

#personPanelHeader, #personPanelDetails{
    -fx-border-color: transparent transparent lines transparent;
}

#statusbarPlaceholder {
    -fx-background-color: toolbar;
}
